* {
    font-family: 'Trebuchet MS', monospace;
}

body {
    background-color: #171717;
    color: white;
}

.odd-number {
    background-color: #FF6F6F;
}

h1 {
    text-align: center;
    background-color: #FF6F6F;
    color: rgb(255, 255, 255);
}

img {
    border: 10px solid #FF6F6F;
}

.list-item {
    color: white;
}